{% extends 'website/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="title">Reinventar Escolas</h1>
<p>
  Projeto de Iniciação Científica para o Centro Nacional de 
  Monitoramento e Alertas de Desastres Naturais (CEMADEN). 
</p>
<p>
  Desenvolvido pelo aluno da UNIFESP 
  <a href="https://www.linkedin.com/in/vimassaru/" target="_blank">
    Vinícius Massaru Oliveira Tanka.
  </a>
</p>
<p>Orientado pela Doutora
  <a href="https://www.linkedin.com/in/viaguila/" target="_blank">
    Viviana Aguilar Muñoz.
  </a>
</p>
<p>Co-Orientado pela Professora Doutora
  <a href="https://www.linkedin.com/in/daniela-musa-83850213/" target="_blank">
    Daniela Musa.
  </a>
</p>
{% endblock %}
