{% extends 'website/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="title">Login</h1>
<form method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input" type="text" name="username">
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" name="password">
        </div>
    </div>
    <div class="control">
        <button class="button is-primary" type="submit">Login</button>
    </div>
</form>
{% endblock %}
